---
layout: teamlayout
title: Team
breadcrumb: <li><a href="/team">Team</a></li>
description: Two Client Supporters under the sky, <br>
              Two System Administrators in their cubicles of stone, <br>
              Five website developers doomed to code, <br>
              One Director to rule them all, One Director to find them, <br>
              One Director to bring them all and in the basement bind them <br>
              In the Land of Mrak where the Agriculture shines.
brand: team
geotag: id-team
permalink: /team

---
<div class="row team-wrapper">
  {% assign team = site.team %}
  {% for post in site.team %}
<div class="col-sm-4">
<div class="card card-height-fixed">
  <div class="card-content text-center">
    <img class="pixel-profile" src="{{ post.image }}.png" alt="{{ post.name }}-icon" />
    <h2>{{ post.name }}</h2>
    <p>{{ post.role }}</p>
    {% if post.phone %}
    <p>{{ post.phone }}</p>
      {% endif %}
      <p><a href="mailto:{{ post.email }}">{{ post.email }}</a></p>
  </div>
</div>
</div>
{% endfor %}
</div>
