<h2>Featured Articles</h2>
<div
  class="featured-articles row justify-content-between"
  style="margin-left: 0; margin-right: 0"
>
  <div class="col-md-4 card">
    <div class="card-content">
      <h3>Getting Started</h3>
      <p>Instructions for the new registration.</p>
      <a href="/documentation/registration/getting-started" class="">View</a>
    </div>
  </div>
  <div class="col-md-4 card">
    <div class="card-content">
      <h3>Important Bits</h3>
      <p>A few tips that you need to know.</p>
      <a href="/documentation/registration/important-bits" class="">View</a>
    </div>
  </div>
  <div class="col-md-4 card">
    <div class="card-content">
      <h3>New Features and Changes</h3>
      <p>Stay up to date with all the new features and changes.</p>
      <a href="/documentation/registration/registration-change-log">View</a>
    </div>
  </div>
</div>
