<header class="flex-between container">
  <div class="logo">
    <h1 class="brand">
      <a href="/">
      Computing <br>
      Resources <br>
      Unit</a>
    </h1>
  </div>
  <nav>
    <ul class="nav justify-content-end" id="nav_upperlevel">
      <li class="nav-item">
        <a class="team-active nav-link" href="/team">Team</a>
      </li>
      <li class="nav-item">
        <a class="portfolio-active nav-link" href="/portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="services-active nav-link" href="/services">Services</a>
      </li>
      <li class="nav-item">
        <a class="documentation-active nav-link" href="/documentation">Documentation</a>
      </li>
    </ul>
  </nav>
</header>

<script>
    $(".nav_toggle").click(function() {
        $(".nav_toggle").toggle("active");
    });
</script>
