<header>
    <div class="header_contents">
        <div class="logo_wrapper">
            <a href="/"><h1><img class="logo" src="/media/cru_logo.svg" alt="">Computing Resources Unit</h1></a>
        </div>
        <div class="search_wrapper">
            <a href="https://www.caes.ucdavis.edu/"><img class="caes_logo" src="/media/caes_logo.svg" alt=""></a>
        </div>
    </div>
</header>
<div class="nav_wrapper">
    <nav id="nav" role="navigation">
        <a class="nav_open" href="#nav" title="Show navigation"><i class="fa fa-bars"></i></a>
        <a class="nav_close" href="#" title="Hide navigation"><i class="fa fa-times"></i></a>
        <ul id="nav_upperlevel">
            <li>
                <a href="/documentation" aria-haspopup="true">Documentation</a>
                <ul class="submenu">
                    <li><a href="/documentation/help_desk">Help Desk</a></li>
                    <li><a href="/documentation/policies">Policies</a></li>
                    <li><a href="/documentation/#web">Web Development</a></li>
                    <li><a href="/documentation#web">App Development</a></li>
                </ul>
            </li>
            <li>
                <a href="/team">Team</a>
            </li>
            
            <li>
                <a href="/services">Services</a>
            </li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li>
                <a href="/activity">Activity</a>
            </li>
            <li>
                <a target="_blank" href="http://status.caes.ucdavis.edu/">Status</a>
            </li>
        </ul>
    </nav>
</div>