<svg
  width="19px"
  height="23px"
  viewBox="0 0 19 23"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <title>green identifier</title>
  <desc>Created with Sketch.</desc>
  <g
    id="2019-Redesign"
    stroke="none"
    stroke-width="1"
    fill="none"
    fill-rule="evenodd"
  >
    <g id="portfolio" transform="translate(-80.000000, -284.000000)">
      <g id="green-identifier" transform="translate(80.000000, 284.000000)">
        <polygon
          id="tertiaryone"
          fill="#0FAEBF"
          points="18.5395508 4.50585937 18.5395508 22.0358887 1.00439453 21.9519043"
        ></polygon>
        <polygon
          id="tertiarytwo"
          fill="#097480"
          transform="translate(7.277732, 11.303711) rotate(-270.000000) translate(-7.277732, -11.303711) "
          points="17.9922324 4.95605469 17.9922324 17.6513672 -3.43676758 17.6513672"
        ></polygon>
      </g>
    </g>
  </g>
</svg>
