<svg
  width="29px"
  height="19px"
  viewBox="0 0 29 19"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
  <title>service-id</title>
  <desc>Created with Sketch.</desc>
  <g
    id="2019-Redesign"
    stroke="none"
    stroke-width="1"
    fill="none"
    fill-rule="evenodd"
  >
    <g id="services" transform="translate(-80.000000, -285.000000)">
      <g id="service-id" transform="translate(80.000000, 285.000000)">
        <polygon
          id="secondaryone"
          fill="#2088E9"
          points="11.8673008 5 28.194 19 9 19"
        ></polygon>
        <polygon
          id="secondarytwo"
          fill="#12508A"
          points="14 -1.95399252e-14 14 19 0 19"
        ></polygon>
      </g>
    </g>
  </g>
</svg>
