.card {
  background-color: #ffffff;
  box-shadow: $box-shadow;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom:16px;
  border:none;
}
.card-content {
  padding:$card-padding;
  padding-bottom:2.6rem;
  padding-top:2.6rem;
  height:100%;
  p:first-of-type {
    flex-grow:1;
  }
}
.services-total {
  hr {
    border:1px solid $services;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($services, .23);
    }
  }
  a {
    color:$services;
    &:hover {
      text-decoration: underline;
      color:lighten($services,15);
    }
  }
  .callout {
    background-color:transparentize($services, .92);
    border-left: 5px solid $services;
    padding:20px 20px 10px 20px;
    margin-bottom:16px;
  }
}
.registration-total {
  hr {
    border:1px solid $registration;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($registration, .23);
    }
  }
  a {
    color:$registration;
    &:hover {
      text-decoration: underline;
      color:lighten($registration,15);
    }
  }
  .callout {
    background-color:transparentize($registration, .92);
    border-left: 5px solid $registration;
    padding:20px 20px 10px 20px;
    margin-bottom:16px;
  }
}
.documentation-total {
  hr {
    border:1px solid $documentation;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($documentation, .23);
    }
  }
  a {
    color:$documentation;
    &:hover {
      text-decoration: underline;
      color:lighten($documentation,15);
    }
  }
  button i {
    color:$documentation;
    &:hover {
      color:lighten($documentation,15);
    }
  }
}
.team-total {
  hr {
    border:1px solid $team;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($team, .23);
    }
  }
  a {
    color:$team;
    &:hover {
      text-decoration: underline;
      color:lighten($team,15);
    }
  }
  button i {
    color:$team;
    &:hover {
      color:lighten($team,15);
    }
  }
}
.portfolio-total {
  hr {
    border:1px solid $portfolio;
    margin-bottom: $portfolio-hr-mbottom;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($portfolio, .23);
    }
  }
  a {
    color:$portfolio;
    &:hover {
      text-decoration: underline;
      color:lighten($portfolio,15);
    }
  }
  button i {
    color:$portfolio;
    &:hover {
      color:lighten($portfolio,15);
    }
  }
}
.peaks-total {
  hr {
    border:1px solid $peaks;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($peaks, .23);
    }
  }
  a {
    color:$peaks;
    &:hover {
      text-decoration: underline;
      color:lighten($peaks,15);
    }
  }
  button i {
    color:$peaks;
    &:hover {
      color:lighten($peaks,15);
    }
  }
}
.payments-total {
  hr {
    border:1px solid $payments;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($payments, .23);
    }
  }
  a {
    color:$payments;
    &:hover {
      text-decoration: underline;
      color:lighten($payments,15);
    }
  }
  button i {
    color:$payments;
    &:hover {
      color:lighten($payments,15);
    }
  }
}
.policies-total {
  hr {
    border:1px solid $policies;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($policies, .23);
    }
  }
  a {
    color:$policies;
    &:hover {
      text-decoration: underline;
      color:lighten($policies,15);
    }
  }
  button i {
    color:$policies;
    &:hover {
      color:lighten($policies,15);
    }
  }
}
.helpdesk-total {
  hr {
    border:1px solid $helpdesk;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($helpdesk, .23);
    }
  }
  a {
    color:$helpdesk;
    &:hover {
      text-decoration: underline;
      color:lighten($helpdesk,15);
    }
  }
  button i {
    color:$helpdesk;
    &:hover {
      color:lighten($helpdesk,15);
    }
  }
}
.ace-total {
  hr {
    border:1px solid $ace;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($ace, .23);
    }
  }
  a {
    color:$ace;
    &:hover {
      text-decoration: underline;
      color:lighten($ace,15);
    }
  }
  button i {
    color:$ace;
    &:hover {
      color:lighten($ace,15);
    }
  }
}
.purchasing-total {
  hr {
    border:1px solid $purchasing;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($purchasing, .23);
    }
  }
  a {
    color:$purchasing;
    &:hover {
      text-decoration: underline;
      color:lighten($purchasing,15);
    }
  }
  button i {
    color:$purchasing;
    &:hover {
      color:lighten($purchasing,15);
    }
  }
}
.commencement-total {
  hr {
    border:1px solid $commencement;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($commencement, .23);
    }
  }
  a {
    color:$commencement;
    &:hover {
      text-decoration: underline;
      color:lighten($commencement,15);
    }
  }
  button i {
    color:$commencement;
    &:hover {
      color:lighten($commencement,15);
    }
  }
}
.peaks-tag {
  @include tag;
  background-color:$peaks;
  &:hover {
    background-color:transparentize($peaks, .15);
  }
}
.guidelines-tag {
  @include tag;
  background-color:$guidelines;
  &:hover {
    background-color:transparentize($guidelines, .15);
  }
}
.registration-tag {
  @include tag;
  background-color:$registration;
  &:hover {
    background-color:transparentize($registration, .15);
  }
}
.commencement-tag {
  @include tag;
  background-color:$commencement;
  &:hover {
    background-color:transparentize($commencement, .15);
  }
}
.policies-tag {
  @include tag;
  background-color:$policies;
  &:hover {
    background-color:transparentize($policies, .35);
  }
}
.helpdesk-tag {
  @include tag;
  background-color:$helpdesk;
  &:hover {
    background-color:transparentize($helpdesk, .35);
  }
}
.purchasing-tag {
  @include tag;
  background-color:$purchasing;
  &:hover {
    background-color:transparentize($purchasing, .35);
  }
}
.payments-tag {
  @include tag;
  background-color:$payments;
  &:hover {
    background-color:transparentize($payments, .35);
  }
}
.ace-tag {
  @include tag;
  background-color:$ace;
  &:hover {
    background-color:transparentize($ace, .35);
  }
}
.alert-red {
  background-color:transparentize($unitrans-red,0.35);
  &:hover {
    background-color:transparentize($unitrans-red,0.15);
}
}
.alert-yellow {
  background-color: transparentize($golden-lupine,0.35);
  &:hover {
    background-color:transparentize($golden-lupine,.15);
}
}
.alert-green {
  background-color: transparentize($sunny-grass,0.35);
  &:hover {
    background-color:transparentize($sunny-grass,.15);
}
}
.alert-blue {
  background-color: transparentize($sky-blue,0.35);
  &:hover {
    background-color:transparentize($sky-blue,.15);
}
}
.btn {
  &.btn-primary {
    @include main-btn;

  }
  &.btn-success {
    @include main-btn;
    background-color:$sunny-grass !important;
  }
  &.btn-services {
    @include main-btn;
    background-color:$services !important;
  }
  &.btn-link {
    color: $primary-color;
    font-size: 1.6rem;
    font-family: $sans-bold;
    border:none;
    cursor: pointer;
    &:hover {
      color: lighten($primary-color,5);
      text-decoration: none;
    }
  }
  &.btn-helpdesk {
    background-color: $helpdesk;
    &:hover{
      background-color: lighten($helpdesk, 8);
    }
  }
}
.tooltip {
    position: relative;
    display: inline-block;
    .tooltip-inner {
        font-size: 16px;
        background-color: $primary-color;
    }
    .arrow::before{
      border-top-color: $primary-color;
    }
}
form {
    .main {
        background-color: $bg-color;
        padding: 2%;
        padding-left: 4%
    }
    input.search_input {
        background-image:url(/media/search_form.svg);
        background-repeat:no-repeat;
        background-size: 20px 20px;
        width:240px;
        font-size:1.6rem;
        color:$primary-font;
        background-color:#fff;
        border-radius:2px;
        border:1px solid $borders;
        height:40px;
        padding-left:35px;
        background-position:10px center;
    }
}

label {
    display: block;
    font-family: $sans-reg;
    font-weight: 600;
    font-size: 1.2rem;
    color: $secondary-font;
    text-transform: uppercase;
    margin-bottom: 5px;
}

ol.breadcrumb {
  display: inline-block;
  list-style: none;
  border: 0;
  padding-left: 0;
  background-color: rgba(255,255,255,.0005);
  margin-bottom: 0;
  margin-top: 16px;

  li {
    font-size: 1.4rem;
  }

  a {
    color: $tertiary-font;
    // &:hover {
    //     color: darken($primary-color, 20%);
    // }
  }

  > li {
    display: inline-block;

    & + li:before {
      padding: 0 5px;
    }
  }

  > .active a {
    color: $secondary-font;
  }

  > li+li:before {
    color: $tertiary-font;
    content: "/";
  }
}
.profile-wrap img:nth-child(1) {
  margin-left:0px !important;
}
.pixel-profile {
  border:2px solid #fff;
  box-shadow:$box-shadow;
  border-radius:50%;
  margin-left:-10px;
}

.pixel-profile::nth-child(1) {
  margin-left:0px !important;
}
.mb-10 {
  margin-bottom:10rem !important;
}
.mb-8 {
  margin-bottom:8rem !important;
}
.mb-6 {
  margin-bottom:6rem !important;
}
img.img-fluid {
  width:100%;
}
.flex-direction-column {
  display:flex;
  flex-direction: column;
}
.no-btn {
  background-color: rgba(255,255,255,.00005);
  border:none;
  &:focus {
    outline: none;
  }
}
.portfolio-slideshow {
  color:$portfolio;
}
.flexin {
  display: flex;
  align-items: center;
}
.flex-between {
  display:flex;
  justify-content: space-between;
  align-items:baseline;
}
.flex-standard {
  display: flex;
  align-items: baseline;
}
.flex-straight {
  display: flex;
}

.table-filter {
  margin: 1rem 0px;
  margin-top: -$portfolio-hr-mbottom;
  .table-filter-item {
    background-color: #fbfbfb;
    margin: 0px 2px;

    .darkmode & {
      background-color: #232629;
      .dropdown-menu {
        background-color: $darkmode;
        border-color: #3b4a4f;
        .dropdown-item {
          color: $dm-primary-font;
        }
      }
    }

    .dropdown-toggle {
      width: 100%;
      height: 100%;
      display: inline-flex;
      align-items: center;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .fa {
      &.active {
        color: blue;
      }
    }

    &, &.p-0 .dropdown-toggle {
      padding: 1rem 1.5rem;
    }
    font-family: $sans-bold;

    &:not(.no-hover) {
      cursor: pointer;
      &:hover {
        background-color: lightblue;

        .darkmode & {
          background-color: #3b4a4f;
        }
      }
    }
  }
  #search-bar {
    background-color: transparent;
    border: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    font-family: 'proxima-nova-b', 'FontAwesome';
  }
}
.alert-unitrans {
  background-color:transparentize($unitrans-red, .9);
  h2 {
    color:$unitrans-red;
      margin-bottom:16px;
  }
  box-shadow: $box-shadow;
  a.alert-button {
    font-weight: bold;
    border:2px solid $unitrans-red;
    border-radius: 14px;
    padding:6px 16px;
    &:hover {
      text-decoration: none;
    }
  }
}
