.card {
  background-color: #ffffff;
  box-shadow: $box-shadow;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom:16px;
  border:none;
}
.card-content {
  padding:$card-padding;
  padding-bottom:2.6rem;
  padding-top:2.6rem;
}
.services-total {
  hr {
    border:1px solid $services;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($services, .23);
    }
  }
  a {
    color:$services;
    &:hover {
      text-decoration: underline;
      color:lighten($services,15);
    }
  }
  .callout {
    background-color:transparentize($services, .92);
    border-left: 5px solid $services;
    padding:20px 20px 10px 20px;
    margin-bottom:16px;
  }
}
.documentation-total {
  hr {
    border:1px solid $documentation;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($documentation, .23);
    }
  }
  a {
    color:$documentation;
    &:hover {
      text-decoration: underline;
      color:lighten($documentation,15);
    }
  }
}
.team-total {
  hr {
    border:1px solid $team;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($team, .23);
    }
  }
  a {
    color:$team;
    &:hover {
      text-decoration: underline;
      color:lighten($team,15);
    }
  }
}
.portfolio-total {
  hr {
    border:1px solid $portfolio;
    margin-bottom:1.6rem;
  }
  ol.breadcrumb {
    > .active {
      color: transparentize($portfolio, .23);
    }
  }
  a {
    color:$portfolio;
    &:hover {
      text-decoration: underline;
      color:lighten($portfolio,15);
    }
  }
}
.PEAKS-tag {
  @include tag;
  background-color:$wine-grape;
  &:hover {
    background-color:transparentize($wine-grape, .15);
  }
}
.Policies-tag {
  @include tag;
  background-color:$california-poppy;
  &:hover {
    background-color:transparentize($california-poppy, .35);
  }
}
.Helpdesk-tag {
  @include tag;
  background-color:$unitrans-red;
  &:hover {
    background-color:transparentize($unitrans-red, .35);
  }
}
.Purchasing-tag {
  @include tag;
  background-color:$sky-blue;
  &:hover {
    background-color:transparentize($sky-blue, .35);
  }
}
.ACE-tag {
  @include tag;
  background-color:$sunny-grass;
  &:hover {
    background-color:transparentize($sunny-grass, .35);
  }
}
.alert-red {
  background-color:transparentize($unitrans-red,0.35);
  &:hover {
    background-color:transparentize($unitrans-red,0.15);
}
}
.alert-yellow {
  background-color: transparentize($golden-lupine,0.35);
  &:hover {
    background-color:transparentize($golden-lupine,.15);
}
}
.alert-green {
  background-color: transparentize($sunny-grass,0.35);
  &:hover {
    background-color:transparentize($sunny-grass,.15);
}
}
.alert-blue {
  background-color: transparentize($sky-blue,0.35);
  &:hover {
    background-color:transparentize($sky-blue,.15);
}
}
.btn {
  &.btn-primary {
    @include main-btn;

  }
  &.btn-success {
    @include main-btn;
    background-color:$sunny-grass !important;
  }
  &.btn-services {
    @include main-btn;
    background-color:$services !important;
  }
  &.btn-link {
    color: $primary-color;
    font-size: 1.6rem;
    font-family: $sans-bold;
    border:none;
    cursor: pointer;
    &:hover {
      color: lighten($primary-color,5);
      text-decoration: none;
    }
  }
}
.tooltip {
    position: relative;
    display: inline-block;
    .tooltip-text {
        position: absolute;
        bottom: 100%;
        font-size: 16px;
        text-align: center;
        padding: 0.3em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-radius: 0.15em;
        margin-bottom: 0.5em;
        visibility: hidden;
        white-space: nowrap;
        left: 50%;
        color: white;
        background-color: $primary-color;
        transform: scale(0.85);
        opacity: 0.7;
    }
    &:hover {
        .tooltip-text {
            visibility: visible;
            transform: scale(1.0);
            opacity: 1;
            transition: transform ease-out 0.15s, opacity ease-out 0.15s;
        }
    }
}
form {
    .main {
        background-color: $bg-color;
        padding: 2%;
        padding-left: 4%
    }
    input.search_input {
        background-image:url(/media/search_form.svg);
        background-repeat:no-repeat;
        background-size: 20px 20px;
        width:240px;
        font-size:1.6rem;
        color:$primary-font;
        background-color:#fff;
        border-radius:2px;
        border:1px solid $borders;
        height:40px;
        padding-left:35px;
        background-position:10px center;
    }
}

label {
    display: block;
    font-family: $sans-reg;
    font-weight: 600;
    font-size: 1.2rem;
    color: $secondary-font;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.flex-between {
  display:flex;
  justify-content: space-between;
  align-items:baseline;
}
ol.breadcrumb {
  display: inline-block;
  list-style: none;
  border: 0;
  padding-left: 0;
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 16px;

  li {
    font-size: 1.4rem;
  }

  a {
    color: $tertiary-font;
    // &:hover {
    //     color: darken($primary-color, 20%);
    // }
  }

  > li {
    display: inline-block;

    & + li:before {
      padding: 0 5px;
    }
  }

  > .active a {
    color: $secondary-font;
  }

  > li+li:before {
    color: $tertiary-font;
    content: "/";
  }
}
.profile-wrap img:nth-child(1) {
  margin-left:0px !important;
}
.pixel-profile {
  border:2px solid #fff;
  box-shadow:$box-shadow;
  border-radius:50%;
  margin-left:-10px;
}
.pixel-profile::nth-child(1) {
  margin-left:0px !important;
}
.mb-10 {
  margin-bottom:10rem !important;
}
.mb-8 {
  margin-bottom:8rem !important;
}
.mb-6 {
  margin-bottom:6rem !important;
}
