// fonts
@font-face {
    font-family: 'proxima-nova-r';
    src: url('/media/fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'proxima-nova-i';
    src: url('/media/fonts/proximanova-regularit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'proxima-nova-b';
    src: url('/media/fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$sans-italic:   "proxima-nova-i",sans-serif;
$sans-bold:     "proxima-nova-b",sans-serif;
$sans-reg:      "proxima-nova-r",sans-serif;

$primary-color:     #1D3B5C;
$secondary-color:   #004987;
$tertiary-color:    #F4BD00;

$a-link:            transparentize($primary-color, .2);

$primary-font: rgba(31,31,31,.99); //
$secondary-font: rgba(31,31,31,.80); //
$tertiary-font: rgba(31,31,31,.40); //

$dm-primary-font: rgba(245,245,245,.99); //
$dm-secondary-font: rgba(245,245,245,.80); //
$dm-tertiary-font: rgba(245,245,245,.40); //

$box-shadow: 0 0 0 1px rgba(49,49,93,.03), 0 2px 5px 0 rgba(49,49,93,.1), 0 1px 2px 0 rgba(0,0,0,.08);

$bg-color: #F8F9FB; // background
$borders: #E8E9ED; // border color
$darkmode: #1F2225;
$darkmode-alt: #484C51;

$services: #2088E9;
$team: #DDB307;
$portfolio: #0FAEBF;
$documentation: #BA0C2F;
$guidelines: $primary-color;

$unitrans-red: #ba0c2f;
$western-redbud: #c6007e;
$california-poppy: #ed8800;
$golden-lupine: #ffcd00;
$sunny-grass: #78be20;
$sky-blue: #00b5e2;
$recpool-blue: #008eaa;
$wine-grape: #642667;
// Supplemental neutral color palette for UC Davis
$mu-brick: #c26e60;
$harthall-stucco: #e6a65d;
$sage-green: #9caf88;
$evergreen: #00573f;
$wintersky-gray: #5b7f95;
$cenwalk-gray: #b1b3b3;
$cork-oak: #aca39a;
$shingle-brown: #4f2c1d;

$peaks:  $wine-grape;
$helpdesk: $unitrans-red;
$ace:  $sunny-grass;
$purchasing: $sky-blue;
$policies: $california-poppy;
$commencement: $western-redbud;
$payments: $golden-lupine;

// Layouts

$card-padding: 0.75rem 1.75rem;
$card-thick-padding: 3rem;
$portfolio-hr-mbottom: 1.6rem;

@mixin breakpoint($point) {
    @if $point==sm {
        @media (max-width: 576px) {
            @content ;
        }
    }
    @if $point==xsm {
        @media (max-width: 575px) {
            @content ;
        }
    }
    @if $point==md {
        @media (max-width: 768px) {
            @content ;
        }
    }
    @if $point==lg {
        @media (max-width: 992px) {
            @content ;
        }
    }
    @if $point==xl {
        @media (max-width: 1200px) {
            @content ;
        }
    }
}

@mixin fader {
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  /* ...and now for the proper property */
  transition:.25s;
}
@mixin main-btn {
  white-space: nowrap;
  display: inline-block;
  padding:10px 20px;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 3px rgba(0,0,0,.08);
  background: $primary-color;
  border-radius: 2px;
  font-size: 1.6rem;
  letter-spacing: 0.025em;
  color: #fff !important;
  text-decoration: none;
  transition: all 0.15s ease;
  border: none;
  font-family: $sans-bold;
  &:active,
  &:focus {
    background-color: darken($primary-color, 5);
  }
  &:hover {
    color: #fff !important;
    transform: translateY(-1px);
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset, 0 3px 6px rgba(0,0,0,.08);
    background-color: lighten($primary-color, 5);
    text-decoration: none;
  }
}

@mixin inverse-btn {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  background: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.025em;
  color: $primary-color;
  text-decoration: none;
  transition: all 0.15s ease;
  border: none;
  font-family: $sans-bold;
  box-shadow: $box-shadow;
  &:hover {
    transform: translateY(-1px);
    text-decoration: none;
  }
}
@mixin tag {
  display:inline-block;
  font-family: $sans-bold;
  font-size:1.4rem;
  color:#fff !important;
  border-radius: 4px;
  padding:6px 12px;
  text-transform: capitalize;
  &:hover {
    text-decoration: none !important;
  }
}
@mixin dot-color {
  // content: "\2022";
  // font-weight: bold;
  // display: inline-block;
  // width: 1em;
  padding-left:5px;
  border-left:4px solid $primary-color;
}
.rotate{

    transition: all .5s linear;
}

.rotate.down{
    -ms-transform: rotate(110deg);
    -moz-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
}
