// geo shapes

.floatinggeos {
  position: absolute;
  top: -2%;
  right: -2%;
  // #primaryfloat {
  //   animation: spin 2s linear infinite;
  // }
}

// #primaryone {
//   fill:$primaryone;
// }
// #primarytwo {
//   fill:$primarytwo;
// }
// #primarythree {
//   fill: $primarythree;
// }
// #secondaryone {
//   fill:$secondaryone;
// }
// #secondarytwo {
//   fill:$secondarytwo;
// }
// #secondarythree {
//   fill:$secondarythree;
// }
// #tertiaryone {
//   fill:$tertiaryone;
// }
// #tertiarytwo {
//   fill:$tertiarytwo;
// }
// #tertiarythree{
//   fill:$tertiarythree;
// }
// #quarternaryone {
//   fill:$quarternaryone;
// }
// #quarternarytwo {
//   fill:$quarternarytwo;
// }
// #quarternarythree {
//   fill:$quarternarythree;
// }
