*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  height: inherit;
}

body {
  background-color:#fff;
  margin: 0 0 150px;
  padding-top:20px;
  &.fader {
    @include fader;
  }
}
.content-wrap {
  margin-top:2.6rem;
}
.landing-bg {
  background: url("/media/geo.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size:40%;
  @include breakpoint(xl) {
    background-size: 35%;
  }
  @include breakpoint(lg) {
    background-size:40%;
  }
  @include breakpoint(md) {
    background-size:25%;
  }
}
header {
  margin-top:16px;
  margin-bottom:48px;
  @include breakpoint(md) {
    margin-bottom:16px;
  }
}
.brand {
  display:flex;
  align-items: center;
  min-height: 72px;
  // @include breakpoint(md) {
  //   justify-content: start;
  // }
  h1 {
    line-height: 1.2;
  }
  img {
    max-width: 100%;
    height:auto;
  }
  a {
    margin-right: 12px;
    flex-basis: 72px;
    color:$secondary-font;
    &:hover {
      color:$primary-font;
      text-decoration: none;
    }
  }
}
.container {
  padding: 0;
  width: 80%;
  max-width:1440px;
  @include breakpoint (sm) {
    width: 95%;
    max-width:1440px;
  }
  @include breakpoint (md) {
    width: 90%;
    max-width:1440px;
  }
  @include breakpoint(lg) {
    width: 85%;
    max-width:1440px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  margin-bottom:32px;
  i {
    color: $secondary-font;
  }
}
