*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  height: inherit;
}

body {
  background-color:#fff;
}
.landing-bg {
  background: url("/media/geo.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size:40%;
}
header {
  margin-top:16px;
  margin-bottom:48px;
}
.container {
  padding: 0;
  width: 98%;
  max-width:1440px;
  @include breakpoint (sm) {
    width: 96%;
    max-width:1440px;
  }
  @include breakpoint (md) {
    width: 92%;
    max-width:1440px;
  }
  @include breakpoint(lg) {
    width: 90%;
    max-width:1440px;
  }
  @include breakpoint(xl) {
    width: 80%;
    max-width:1440px;
  }
}

footer {
  margin-top:48px;
  margin-bottom:24px;
}
