nav {
  ul.nav {
    li.nav-item {
      a.nav-link {
        color:$primary-font;
        font-family: $sans-bold;
        font-size:2rem;
        border-bottom:4px solid #fff;
        &:hover {
          background-color:$bg-color;
        }
      }
    }
  }
}
.team-active:hover {
  border-bottom: 4px solid $team !important;
}
.services-active:hover {
  border-bottom: 4px solid $services !important;
}
.documentation-active:hover {
  border-bottom: 4px solid $documentation !important;
}
.portfolio-active:hover {
  border-bottom: 4px solid $portfolio !important;
}
.services-active {
   &.active {
    border-bottom:4px solid $services !important;
  }
}
.documentation-active {
   &.active {
    border-bottom:4px solid $documentation !important;
  }
}
.team-active {
   &.active {
    border-bottom:4px solid $team !important;
  }
}
.portfolio-active {
   &.active {
    border-bottom:4px solid $portfolio !important;
  }
}
nav.homepage-nav {
  margin-left:-1rem;
  margin-top:8%;
  ul.nav {
    li.nav-item {
      margin-right:3rem;
      img {
        padding-left:1rem;
      }
      a.nav-link {
        color:$primary-font;
        font-family: $sans-bold;
        font-size:2.8rem;
        padding-top:0px;
        margin-top:-5px;
        &:hover {
          background-color:#fff;
        }
      }
    }
  }
}
