.aside_col {
    ul {
        li {
            a {
                color:$primary-font;
                &:hover {
                    color:$secondary-color;
                }
            }
        }
    }
}
.faculty {
    margin:0 auto;
    width:600px;
    margin-top:30px;
    .faculty-card {
        
        padding-left:20%;
        .faculty-image {
            display:inline-block;
            width:10%;
            vertical-align: top;
            margin-right:2%;
            img {
                margin-top:8px;
            }
        }
        .faculty-info {
            display:inline-block;
            width:86%;
            vertical-align: top;
            h3 {
                margin-bottom: 0px;
            }
            p {
                margin-top:0px;
                margin-bottom:1px;
            }
            a {
                margin-top:3px;
                font-size:1.6rem;
                font-family: $sans-serif;
            }
        }
    }
}
.banner {
    
    @include container;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebab39+0,c14b6a+100 */
    background: #ebab39;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ebab39 0%, #c14b6a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ebab39 0%, #c14b6a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ebab39 0%, #c14b6a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin-top:15px;
    .banner_wrapper {
        background-image: url(/media/geometric.svg);
        background-position: right;
        background-repeat: no-repeat;
        height: 330px;
    }
    border-radius:2px;
}

.news_landing {
    background-color: $bg-color;
    border-bottom: 1px solid $borders;
    padding-bottom: 2%;
    margin-bottom: 2%;
    padding-top: 2%;
    margin-top: -29px;
    .news_landing_contents {
        @include container;
        .news_landing_current {
            display: inline-block;
            vertical-align: top;
            width: 75%;
            @include breakpoint(mobileonly) {
                width: 66%
            }
            @include breakpoint(smallmobile) {
                width: 100%;
            }
        }
        .news_landing_more {
            width: 22%;
            margin-left: 2%;
            border-left: 1px solid $borders;
            padding-left: 2%;
            display: inline-block;
            vertical-align: top;
            @include breakpoint(mobileonly) {
                width: 30%
            }
            @include breakpoint(smallmobile) {
                width: 100%;
                border-left: none;
            }
        }
        .news_landing_piece {
            display: inline-block;
            width: 29%;
            margin-right: 5%;
            vertical-align: top;
            @include breakpoint(mobileonly) {
                width: 100%;
                img.img_article_thumb {
                    width: 90%;
                }
            }
            @include breakpoint(smallmobile) {
                margin-bottom: 20px;
                img.img_article_thumb {
                    width: 90%;
                    margin-bottom: 0px;
                }
            }
            img.img_article_thumb {
                float: none;
                width: 100%;
                margin: 0px;
                padding: 0px;
                margin-bottom: 3%;
                max-width: 100%;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

ul.feed-list {
    li {
        margin-top: 4%;
        margin-bottom: 4%;
        border-bottom: 1px solid $borders;
        padding-bottom: 2%;
        list-style-type: none;
        &:last-child {
            border-bottom: none;
        }
    }
}

ul.events-list-main {
    li {}
}

.event-date {
    display: inline-block;
    vertical-align: top;
    width: 13%;
    margin-right: 10px;
    font-weight: 600;
    .event-date-wrapper {
        width: 90px;
        &:hover span.event-month {
            background: lighten($unitrans-red, 5)
        }
    }
    span.event-month {
        display: block;
        padding: 4px 1px;
        background: $unitrans-red;
        color: #fff;
        text-align: center;
        // border-top-right-radius: 2px;
        // border-top-left-radius: 2px;
    }
    span.event-day {
        display: block;
        padding: 6px 2px;
        border-left: 1px solid $borders;
        border-bottom: 1px solid $borders;
        border-right: 1px solid $borders;
        color: $primary-font;
        text-align: center;
    }
}

.event-main {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    margin-left: 3%;
    margin-top: -15px;
}

ul.news-list-main {
    li {
        min-height: 242px;
    }
}
