img#team-image {
  width: 475px;
}
.content-wrap {
  img {
    max-width: 100%;
    height: auto;
  }
}
.team-wrapper {
  margin-top: 8%;
  .col-sm-4 {
    .card {
      &:hover {
        .pixel-profile {
          border: 2px solid $team;
        }
      }
      p {
        margin-bottom: 4px;
      }
    }
  }
}
.homepage-hotbuttons {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  li {
    margin: 12px 0px;
    i {
      margin-right: 8px;
    }
    a {
      font-size: 2rem;
      font-family: $sans-bold;
      color: $primary-font;
    }
  }
}
.portfolio-modal {
  top: 5% !important;
  .modal-dialog {
    width: 75% !important;
    padding-top: 256px;
    max-width: 1000px !important;
  }
}
.featured-proj {
  border-left: 5px solid $borders;
  margin: 4% 0;
  padding-left: 3%;
  .featured-proj-title {
    font-size: 2.2rem;
    margin-bottom: 0;
    font-family: $sans-bold;
  }
  .featured-proj-date {
    font-size: 1.8rem;
    color: $tertiary-font;
  }
  .featured-proj-url {
    font-size: 1.8rem;
  }
  .pixel-profile {
    width: 40px;
    height: 40px;
  }
  i {
    color: $tertiary-font;
    width: 16px;
    transition: all 0.25s ease-out;
    &:hover {
      color: $primary-font;
    }
  }
}
.documentation-item {
  margin-top: 8px;
  margin-bottom: 24px;
  h2 {
    margin-top: 4px;
  }
}
a.documentation-snippet {
  &:hover {
    text-decoration: none !important;
  }
}
.category-list {
  li {
    margin: 12px 0px;
  }
}
.sidebar {
  padding-top: 6.5%;
  @include breakpoint(md) {
    ul {
      padding-left: 0px;
      margin-left: 0px;
    }
    ul.category-list {
      li {
        display: inline-block;
      }
    }
  }
}
.card-height-fixed {
  height: 240px;
  @include breakpoint(md) {
    height: auto;
  }
}
.portfolio_item {
  margin-top: 5%;
  margin-bottom: 8%;
  h1 {
    font-family: $sans-reg !important;
    &:hover {
      text-decoration: none !important;
    }
  }
  .profile-wrap {
    margin-top: 10px;
  }
  .portfolio-controls {
    flex-shrink: 0;
  }
}
.faq-wrap {
  padding-left: 3rem;
}
.portfolio_outbound {
  padding-left: 8px;
  a {
    font-size: 2.6rem;
    &:hover {
      text-decoration: none;
    }
  }
}
.portfolio-total .modal-dialog {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px !important;
}
@media (min-width: 768px) {
  .portfolio-total .modal-dialog {
    width: 55%;
  }
}
@media (min-width: 576px) {
  .portfolio-total .modal-dialog {
    width: 85%;
  }
}
.carousel-control-prev-icon {
  background-image: url("/media/screenshots/left-arrow.svg");
}
.carousel-control-next-icon {
  background-image: url("/media/screenshots/right-arrow.svg");
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 40px;
  height: 40px;
}

.portfolio-title {
  i {
    font-size: 2.5rem;
  }
  a {
    margin-left: 0.8rem;
  }
}

.author {
  display: flex;
  margin-top: 20px;
  margin-bottom: 12px;
  p:first-of-type {
    margin-bottom: 0px;
    font-size: 1.8rem;
  }
  img {
    margin-left: 0px;
    height: 54px;
    width: 54px;
    margin-right: 1.4rem;
  }
}
.author-actions {
  i {
    font-size: 2rem;
    margin-left: 8px;
  }
}

.table-filter-item,
.sort-updated,
#search-bar {
  font-size: 1.6rem;
}
.table-filter .table-filter-item .fa.active {
  color: $portfolio;
}
.registration-total {
  .featured-articles {
    .card {
      background-color: rgba(0, 87, 63, 0.05);
    }
  }
}
.featured-articles {
  .card-content {
    display: flex;
    flex-direction: column;

    a {
      font-size: 1.6rem;
    }
  }
}
.approved-software-table {
  th,
  td {
    font-size: 1.6rem;
    padding: 8px 16px;
  }
  tr {
    th {
      font-weight: bold;
    }

    td {
      border-top: 1px solid transparentize(#f18a00, 0.7);
      font-size: 3rem;
      text-align: center;
    }
    td:first-child {
      font-weight: bold;
      font-size: 1.6rem;
      text-align: left;
    }
  }
}
