---
layout: fullcol
title: Portfolio
description:  From small centers and departments to large campus wide applications, we work with a wide range of clients. Check out the list below for a comprehensive view of our work.
brand: portfolio
geotag: id-portfolio
permalink: /portfolio

---
<div>
    <input id="search-bar" type="text"/>
</div>
{% for portfolio in site.portfolio reversed %}

<div class="portfolio_item" data-title="{{portfolio.title}}">
  <div class="row justify-content-between">
    <div class="col-12 col-sm-8 col-md-5">
  <div class="flexin portfolio-title">
        <h1>
            {{ portfolio.title }}
            </h1>
          <div>
            {% if portfolio.current-url %}

            <a class="no-underline" href="{{ portfolio.current-url }}">
              <i class="fas fa-external-link-square-alt"></i>
            </a>

            {% endif %}
            {% if portfolio.slideshow %}
            <a class="no-underline" href="#{{ portfolio.image }}" data-toggle="modal">
              <i class="fas fa-images"></i>
            </a>
            {% endif %}
          </div>
      </div>

          <p class="lead">{{ portfolio.date | date: "%B %Y"  }} • {{ portfolio.audience }}</p>
          <p>{{ portfolio.description }}</p>
          {% if portfolio.developers %}
      <div class="profile-wrap">
        {% for developer in portfolio.developers %}
            {% assign dev = site.team | where: "name", developer | first %}
            {% include team_tooltip.html text=dev.name image=dev.image %}
        {% endfor %}
      </div>


          {% endif %}
    </div>
    <div class="col-md-5 text-right">
      <img class="img-fluid" src="/media/portfolio/{{ portfolio.image }}.png" alt="">
    </div>
  </div>
</div>
{% if portfolio.slideshow %}
{% include modal-slide.html %}
{% endif %}
{% endfor %}

<script>
    function tabTextResize() {
        let appDev = $("ul.tabs a[href='#profile']");
        let webDev = $("ul.tabs a[href='#home']");
        if($("ul.tabs").width() < 400){
            appDev.text("Apps");
            webDev.text("Websites");
        }
        else{
            appDev.text("App Development");
            webDev.text("Web Development");
        }
    }
    window.addEventListener('DOMContentLoaded', () => {
        tabTextResize();
        $(window).resize(tabTextResize);
    });
</script>
<script src="/js/searchBackend.js"></script>
<script>
    let builder = function() {
        this.setRef('title')
        this.addField('description')
        this.addField('author')
        this.addField('title')
        this.addField('developers')
    }
    function showResults(titles) {
        $("[data-title]").each(function(){
            $(this).hide();
        });
        for(let r of titles) {
            $(`[data-title="${r.ref}"`).show();
        }
    }
    initSearch('./search.json', [], builder)
    .then(({searchData, index}) => {
        

        $("#search-bar").on('input', function() {
            if($(this).val() == "") {
                $("[data-title]").each(function(){
                    $(this).show();
                });
            }
            else {
                let results = index.search($(this).val(), {
                    fields: {
                    title: {boost: 5, expand: true},
                    description: {boost: 1},
                    developers: {boost: 3, expand: true}
                    }
                });
                console.log(results);
                showResults(results);
            }
        })
    });
</script>
<script defer src="/js/elasticlunr.min.js"></script>