---
layout: fullcol
title: Portfolio
description:  From small centers and departments to large campus wide applications, we work with a wide range of clients. Check out the list below for a comprehensive view of our work.
brand: portfolio
geotag: id-portfolio
permalink: /portfolio

---
{% for portfolio in site.portfolio reversed %}
<a class="no-color no-underline" target="_blank" href="{{portfolio.current-url}}">
<div class="portfolio_item">
  <div class="row justify-content-between">
    <div class="col-md-6">
      <h1>

          {{ portfolio.title }}

      </h1>
          <p class="lead">{{ portfolio.date | date: "%B %Y"  }} • {{ portfolio.audience }}</p>
          <p>{{ portfolio.description }}</p>
          {% if portfolio.developers %}
      <div class="profile-wrap">
        {% for developer in portfolio.developers %}
            {% assign dev = site.team | where: "name", developer | first %}
            {% include team_tooltip.html text=dev.name image=dev.image %}
        {% endfor %}
      </div>


          {% endif %}
    </div>
    <div class="col-md-6 text-right">
      <img class="img-fluid" src="/media/portfolio/{{ portfolio.image }}.png" alt="">
    </div>
  </div>
</div>
  </a>
{% endfor %}



<script>
    function tabTextResize() {
        let appDev = $("ul.tabs a[href='#profile']");
        let webDev = $("ul.tabs a[href='#home']");
        if($("ul.tabs").width() < 400){
            appDev.text("Apps");
            webDev.text("Websites");
        }
        else{
            appDev.text("App Development");
            webDev.text("Web Development");
        }
    }
    $(function() {
        tabTextResize();
        $(window).resize(tabTextResize);
    });
</script>
<script src="/js/lunr.js"></script>
<script>
    var data = {% include_relative search.json %}
    var webData = {};
    var appData = {};
    Object.keys(data).forEach(value => {
        if(data[value].category == 'web_proj')
            webData[value] = data[value];
        else appData[value] = data[value];
    });
    var appIndex = lunr(function () {
        this.ref('title')
        this.field('description')
        this.field('audience')
        this.field('title')
        Object.values(appData).forEach(function (doc) {
            this.add(doc)
        }, this)
    })
    var webIndex = lunr(function() {
        this.ref('title')
        this.field('description')
        this.field('client')
        this.field('title')
        Object.values(webData).forEach(function (doc) {
            this.add(doc)
        }, this)
    })
</script>
<script src="/js/doT.js"></script>
<script>
    {% assign app_proj = site.data.template.app_proj %}
    {% assign web_proj = site.data.template.web_proj %}
    var template = "{{app_proj}}";
    var webTemplate = "{{web_proj}}";
    var renderFn = doT.template(template);
    var webFn = doT.template(webTemplate)
    console.log(renderFn.toString())
    console.log(webFn.toString())
    $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    $('#myTabs a[href="#profile"]').tab('show') // Select tab by name
    $('#myTabs a[href="#home"]').tab('show') // Select tab by name
    $("#inpt_search").on('focus', function () {
        $(this).parent('label').addClass('active');
    });

    $("#inpt_search").on('blur', function () {
        if($(this).val().length == 0)
            $(this).parent('label').removeClass('active');
    });
    $("#inpt_search").on('keyup', function(){
        window.initialApps = window.initialApps || $("#profile").children();
        window.initialWeb = window.initialWeb || $("#home").children();
        let query = $(this).val() + "*";
        let results = webIndex.search(query)
        let apps = $("#profile");
        let web = $("#home");
        if(results.length > 0) {
            console.log(results);
            web.empty();
            results.forEach(value => {
                let element = document.createElement("template");
                element.innerHTML = webFn(webData[value.ref]);
                web.append(element.content.firstChild);
            });
        }
        results = appIndex.search(query);
        if(results.length > 0) {
            console.log(results);
            apps.empty();
            results.forEach(value => {
                let element = document.createElement("template");
                element.innerHTML = renderFn(appData[value.ref]);
                apps.append(element.content.firstChild);
            });
        }
        if($(this).val().length == 0) {
            apps.empty();
            web.empty();
            apps.append(window.initialApps);
            web.append(window.initialWeb);
        }
    });
</script>
