--- 
layout: default 
title: CRU - Portfolio
---

<div class="main">
    <div class="main_contents">
        <article class="full-width">
            <div class="cntr">
                <div class="cntr-innr">
                    <label class="search" for="inpt_search">
                        <input id="inpt_search" type="text" />
                    </label>
                    <p>Hover to see the magic.</p>
                </div>
            </div>
            <h1>Our Work</h1>
            <p class="lead">
                From small centers and departments to large campus wide applications, we work with a wide range of clients. Check out the
                list below for a comprehensive view of our work.
            </p>
            <ul class="tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Web Development</a>
                </li>
                <li role="presentation">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">App Development</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    {% for post in site.categories.web_proj %}
                    <div class="portfolio_item">
                        <h3>{{ post.title }}</h3>
                        <div class="well">
                            <ul class="no-bullet">
                                <p><b>Description: </b>{{post.description}}</p>
                                <br>
                                <li>
                                    <span>Client:
                                        <a href="mailto:{{post.client-email}}">{{post.client-email}}</a>
                                    </span>
                                </li>
                                {% if post.current-url %}
                                <li>Current URL:
                                    <a target="_blank" href="{{post.current-url}}">{{post.current-url}}</a>
                                </li>
                                {% endif %} {% if post.dev-url %}
                                <li>Development URL:
                                    <a target="_blank" href="{{post.dev-url}}">{{post.dev-url}}</a>
                                </li>
                                {% endif %} {% if post.Launched %}
                                <li class="updated">Updated: {{post.Launched}}</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    {% for post in site.categories.app_dev %}
                    <div class="portfolio_item">
                        <h3>{{ post.title }}</h3>
                        <div class="well">
                            <ul class="no-bullet">
                                {% if post.current-url %}
                                <li>
                                    <a target="_blank" href="{{post.current-url}}">{{post.current-url}}</a>
                                </li>
                                {% endif %} {% if post.dev-url %}
                                <li>Development URL:
                                    <a target="_blank" href="{{post.dev-url}}">{{post.dev-url}}</a>
                                </li>
                                {% endif %} {% if post.audience %}
                                <li>
                                    <b>Audience:</b> {{post.audience}}</li>
                                {% endif %}
                                <p>
                                    <b>Description:</b>
                                    {{post.description}}
                                </p>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </article>
    </div>
</div>
<script src="/js/lunr.js"></script>
<script>
    var data = {% include_relative search.json %}
    var webData = {};
    var appData = {};
    Object.keys(data).forEach(value => {
        if(data[value].category == 'web_proj')
            webData[value] = data[value];
        else appData[value] = data[value];
    });
    var appIndex = lunr(function () {
        this.ref('title')
        this.field('description')
        this.field('audience')
        this.field('title')
        Object.values(appData).forEach(function (doc) {
            this.add(doc)
        }, this)
    })
    var webIndex = lunr(function() {
        this.ref('title')
        this.field('description')
        this.field('client')
        this.field('title')
        Object.values(webData).forEach(function (doc) {
            this.add(doc)
        }, this)
    })
</script>
<script src="/js/doT.js"></script>
<script>
    {% assign app_proj = site.data.template.app_proj %}
    {% assign web_proj = site.data.template.web_proj %}
    var template = "{{app_proj}}";
    var webTemplate = "{{web_proj}}";
    var renderFn = doT.template(template);
    var webFn = doT.template(webTemplate)
    console.log(renderFn.toString())
    console.log(webFn.toString())
    $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    $('#myTabs a[href="#profile"]').tab('show') // Select tab by name
    $('#myTabs a[href="#home"]').tab('show') // Select tab by name
    $("#inpt_search").on('focus', function () {
        $(this).parent('label').addClass('active');
    });
    
    $("#inpt_search").on('blur', function () {
        if($(this).val().length == 0)
            $(this).parent('label').removeClass('active');
    });
    $("#inpt_search").on('keyup', function(){
        window.initialApps = window.initialApps || $("#profile").children();
        window.initialWeb = window.initialWeb || $("#home").children();
        let query = $(this).val() + "*";
        let results = webIndex.search(query)
        let apps = $("#profile");
        let web = $("#home");
        if(results.length > 0) {
            console.log(results);
            web.empty();
            results.forEach(value => {
                let element = document.createElement("template");
                element.innerHTML = webFn(webData[value.ref]);
                web.append(element.content.firstChild);
            });
        }
        results = appIndex.search(query);
        if(results.length > 0) {
            console.log(results);
            apps.empty();
            results.forEach(value => {
                let element = document.createElement("template");
                element.innerHTML = renderFn(appData[value.ref]);
                apps.append(element.content.firstChild);
            });
        }
        if($(this).val().length == 0) {
            apps.empty();
            web.empty();
            apps.append(window.initialApps);
            web.append(window.initialWeb);
        }
    });
</script>