---
layout: default
title: CRU - Portfolio
---

<div class="main">
    <div class="main_contents">
        <article>
            <h1>Our Work</h1>
            <p class="lead">
                From small centers and departments to large campus wide applications, we work with a wide range of clients. Check out the list below for a comprehensive view of our work.
            </p>
            <ul class="tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Web Development</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">App Development</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    {% for post in site.categories.web_proj %}
                    <div class="portfolio_item">
                    <h3>{{ post.title }}</h3>
                    <div class="well">
                        <ul class="no-bullet">
                            <h4><b>Description:</b></h4>
                            <p>{{post.description}}</p>
                            <br>
                            <li>Client: <a href="mailto:{{post.client-email}}">{{post.client}}</a></li>
                            {% if post.current-url %}
                            <li>Current URL: <a target="_blank" href="{{post.current-url}}">{{post.current-url}}</a></li>
                            {% endif %} {% if post.dev-url %}
                            <li>Development URL: <a target="_blank" href="{{post.backendl}}">{{post.backend}}</a></li>
                            {% endif %} {% if post.launched %}
                            <li>Updated: {{post.launched}}</li>
                            {% endif %}
                        </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    {% for post in site.categories.app_dev %}
                    <div class="portfolio_item">
                        <h3>{{ post.title }}</h3>
                        <div class="well">
                            <ul class="no-bullet">
                                {% if post.current-url %}
                                <li><a target="_blank" href="{{post.current-url}}">{{post.current-url}}</a></li>
                                {% endif %} {% if post.dev-url %}
                                <li>Development URL: <a target="_blank" href="{{post.backend}}">{{post.backend}}</a></li>
                                {% endif %} {% if post.audience %}
                                <li><b>Audience:</b> {{post.audience}}</li>
                                {% endif %}  
                                <p>
                                    <b>Description:</b>
                                    {{post.description}}
                                </p>
                                <br>
                                {% if post.launched %}
                                <li>Updated: {{post.launched}}</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </article>
    </div>
</div>
   <script>
          $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
          })
          $('#myTabs a[href="#profile"]').tab('show') // Select tab by name
          $('#myTabs a[href="#home"]').tab('show') // Select tab by name
    </script>
