---
layout: default
title: CRU - Guides
---


<div class="main">
    <div class="main_contents">
    <aside>
        {% include aside_nav.html %}
    </aside>
    <article>
        <h1>Guides</h1>
        <p class="lead">Guides on guides on guides.</p>
        <p>Struggling to maintain a proper temperature on your vintage flux capacitor or simply trying to login to plone? Hopefully, we have your questions answered in our guide section. Try narrowing down your question to one of our three section</p>
        <p><a class="california-poppy" href="/guides/web_dev">Web Development</a> • <a class="recpool-blue" href="/guides/app_dev"> App Development</a> • <a class="sunny-grass" href="/guides/help_desk">Help Desk</a></p>
            {% for post in site.tags.guide %}
            <div class="feed-item">
               <p class="tag-display {{ post.category }}">{{ post.display-tag }}</p>
                <h2 class="feed-title">
                      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>
                <p class="feed-description">{{ post.description }}</p>
            </div>
            {% endfor %}
        </div>
    </article>
        


</div>
