---
layout: default
---

<div class="main">
    <div class="main_contents">
        <aside>
           {% include aside_nav.html %}
        </aside>
        <article>
        <p class="tag-display {{ page.category }}">{{ page.display-tag }}</p>
            <h1>{{ page.title }}</h1>
            <p class="lead">{{ page.description }}</p>

        <!--     {% if page.image %} 
            <div class="image-wrapper full-width">
                <a href="#" data-featherlight="#mylightbox">
                    <img src="{{ page.image }}" alt="Photograph of a Stork">
                </a>
                <div id="mylightbox"><img src="{{ page.image }}" alt="">
                    <p class="lightbox_caption">{{ page.image-caption }}</p>
                </div>
                <p class="image_caption">
                    {{ page.image-caption }}
                </p>
            </div>
            {% endif %} -->

           	<p>{{ content }}</p>
        </article>
    </div>
</div>
