---
layout: default
---

<div class="container {{page.brand}}-total">
  {% include nav-breadcrumbs.html %}
    <div class="row justify-content-between">
      <div class="col-sm-7">
        <p>
          <a class="{{ page.categories }}-tag" href="/documentation/{{page.categories}}">{{ page.categories }}</a>
        </p>
        {% if page.geotag %}
        <img src="/media/{{ page.geotag }}.svg" alt="{{ page.brand }} icon">
        {% endif %}
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.description }}</p>
        <hr>
        {% if page.author %}
        <div class="row">
          <div class="col">
            <!-- {% for developer in portfolio.developers %}
                {% assign dev = site.team | where: "name", developer | first %}
                {% include team_tooltip.html text=dev.name image=dev.image %}
            {% endfor %} -->
          </div>
          <div class="col">
            <p>
              {{ page.date | date_to_long_string }}
            </p>
          </div>
        </div>
        {% endif %}
        <div class="content-wrap">
          	{{ content }}
        </div>
      </div>
      <div class="col-sm-4 sidebar">
        {% if page.services %}
        {% include services-aside.html %}
        {% endif %}
        {% if page.documentation %}
        {% include documentation-aside.html %}
        {% endif %}
      </div>
    </div>
</div>
