---
layout: default
title: CRU - Activity
---
<div class="main">
    <div class="main_contents no-bg">
        <h1>Activity</h1>
        <p class="lead">
            We create, manage, and maintain a wide assortment of projects. Use this page to stay up to date on what we are currently doing.
        </p>
        <h2 class="sunny-grass">In Development</h2>
        <div class="queue-wrapper">
            {% for post in site.tags.development %}
            <div class="queue-card in-dev">
                <h3>{{ post.title }}</h3>
                <div class="well">
                    <ul class="no-bullet">
                        <h4><b>Justification:</b></h4>
                        <p>{{post.reason}}</p>
                        <h4><b>Description:</b></h4>
                        <p>{{post.description}}</p>
                        <br>
                        <li>Client: <a href="mailto:{{post.client-email}}">{{post.client}}</a></li>
                        {% if post.current-url %}
                        <li>Current URL: <a target="_blank" href="{{post.current-url}}">{{post.current-url}}</a></li>
                        {% endif %} {% if post.dev-url %}
                        <li>Development URL: <a target="_blank" href="{{post.dev-url}}">{{post.dev-url}}</a></li>
                        {% endif %} {% if post.repo-url %}
                        <li>Github Repo: <a target="_blank" href="{{post.repo-url}}">{{post.repo-url}}</a></li>
                        {% endif %} {% if post.start %}
                        <li>Development Start: {{post.start}}</li>
                        {% endif %} {% if post.finish %}
                        <li>Projected Launch: {{post.finish}}</li>
                        {% endif %}
                    </ul>
                </div>

            </div>
            {% endfor %}
        </div>
        <br>
        <h2 class="golden-lupine">On Deck</h2>
        <div class="queue-wrapper">
            {% for post in site.tags.deck %}
            <div class="queue-card on-deck">
                <h3>{{ post.title }}</h3>
                <div class="well">
                    <ul class="no-bullet">
                        <h4><b>Justification:</b></h4>
                        <p>{{post.reason}}</p>
                        <h4><b>Description:</b></h4>
                        <p>{{post.description}}</p>
                        <br>
                        <li>Client: <a href="mailto:{{post.client-email}}">{{post.client}}</a></li>
                        {% if post.current-url %}
                        <li>Current URL: <a target="_blank" href="{{post.current-url}}">{{post.current-url}}</a></li>
                        {% endif %} {% if post.dev-url %}
                        <li>Development URL: <a target="_blank" href="{{post.dev-url}}">{{post.dev-url}}</a></li>
                        {% endif %} {% if post.repo-url %}
                        <li>Github Repo: <a target="_blank" href="{{post.repo-url}}">{{post.repo-url}}</a></li>
                        {% endif %} {% if post.start %}
                        <li>Development Start: {{post.start}}</li>
                        {% endif %} {% if post.finish %}
                        <li>Projected Launch: {{post.finish}}</li>
                        {% endif %}
                    </ul>
                </div>

            </div>
            {% endfor %}
        </div>
        <br>
        <h2 class="unitrans-red">In Queue</h2>
        <div class="queue-wrapper">
            {% for post in site.tags.queue %}
            <div class="queue-card in-queue">
                <h3>{{ post.title }}</h3>
                <div class="well">
                    <ul class="no-bullet">
                        <h4><b>Justification:</b></h4>
                        <p>{{post.reason}}</p>
                        <h4><b>Description:</b></h4>
                        <p>{{post.description}}</p>
                        <br>
                        <li>Client: <a href="mailto:{{post.client-email}}">{{post.client}}</a></li>
                        {% if post.current-url %}
                        <li>Current URL: <a target="_blank" href="{{ post.current-url }}">{{post.current-url}}</a></li>
                        {% endif %}
                        {% if post.dev-url %}
                        <li>Development URL: <a target="_blank" href="{{post.dev-url}}">{{post.dev-url}}</a></li>
                        {% endif %} {% if post.repo-url %}
                        <li>Github Repo: <a target="_blank" href="{{post.repo-url}}">{{post.repo-url}}</a></li>
                        {% endif %} {% if post.start %}
                        <li>Development Start: {{post.start}}</li>
                        {% endif %} {% if post.finish %}
                        <li>Projected Launch: {{post.finish}}</li>
                        {% endif %}
                    </ul>
                </div>

            </div>
            {% endfor %}
        </div>

    </div>

</div>
</div>
